:root {
    --transition-speed: 0.3;
}

.navbar {
    position: fixed;
    background-color: var(--secondary);
    width: 5rem;
    height: 100vh;
    transition: width 600ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.navbar:hover,
.navbar:focus {
    width: 16rem;

    .nav-link svg {
        margin-left: auto;
        transition: var(--transition-speed);
    }

    transition: var(--transition-speed);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover,
.nav-link:focus {
    background: var(--secondary);
    color: var(--accent);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    text-align: right;
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    fill: var(--primary);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none !important;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }


    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0;
    }
}

.navbarsvg {
    fill: var(--primary);
    height: 10vh;
    transition: .3s;

    .high {
        transition: .3s;
    }

    .middle {
        transition: .3s;
    }

    .low {
        transition: .3s;
    }
}

.navbar:hover .navbarsvg,
.navbar:focus .navbarsvg {
    fill: var(--accent);
    transition: .3s;

    .high {
        transform: translateY(7%) translateX(24.5%) rotate(45deg);
        transition: .6s;
    }

    .middle {
        opacity: 0;
        transition: .3s;
    }

    .low {
        transform: translateY(25%) translateX(-60%) rotate(-45deg);
        transition: .6s;
    }
}